<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Fontawesome -->    
    <script src="https://kit.fontawesome.com/ac43b59d41.js" crossorigin="anonymous"></script>
    
    <!-- signup CSS -->
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="center-horizontal">
        <a th:href="@{/}">
            <img th:src="@{/img/icon/sudamyeon.png}" alt="수다면 로고" style="width: 40px; height: 40px;">
        </a>
        <a th:href="@{/}">
            <h2 class="center-text">수다면</h2>
        </a>
    </div>
    <form th:action="@{/members/login}" method="post" id="content">
        <div>
            <h3>이메일 로그인</h3>
            <div class="icon_box_1">
                <i class="fa-regular fa-envelope"></i>
            </div>  
            <input class="int" type="text" id="username" name="username" required="required" style="border: 1px solid #000;"/>
        </div>
        <div>
            <div class="icon_box_1">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input class="int" type="password" id="password" name="password" required="required" style="border: 1px solid #000;"/>
        </div>
        <div>
            <button type="submit" id="btn_login">로그인</button>
        </div>
        <div>
            <button type="submit" id="btn_enter_join">
                <a th:href="@{/members/signup}">회원가입하기</a>
            </button>
        </div>
    </form>
</body>
</html>