<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  
  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  
  <!-- Styles CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <!-- Register CSS -->
  <link th:href="@{/css/register.css}" rel="stylesheet">

    <script>
        $(document).ready(function(){
            var gname = $("input[name='gname']");
            var file_upload = $("input[type='file']");
            var label = $(".custom-file-ladbel");
            $("button[type='submit']").on("click",function(e){
                e.preventDefault();
                if(!gname.val()){
                    alert("제목은 필수입니다!");
                    gname.focus();
                    return;
                }
                if(!file_upload.val() && file_upload.val()==""){
                    alert("파일 업로드는 필수입니다!");
                    file_upload.focus();
                    return;
                }            
                                
                var str = "";
                $(".image_space li").each(function(i,obj){
                    var target = $(obj);
                    str += "<input type='hidden' name='imageDTO_list["+i+"].img_name' value='"+target.data('name') +"'>";
                    str += "<input type='hidden' name='imageDTO_list["+i+"].path' value='"+target.data('path')+"'>";
                    str += "<input type='hidden' name='imageDTO_list["+i+"].uuid' value='"+target.data('uuid')+"'>";
                });
                //태그들이 추가된 것을 확인한 후에 comment를 제거
                $(".image_space").html(str);
            
                $("#form")
                    .attr("action", "/members/register")
                    .submit();
            });

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$"); // 파일 업로드 제한
            var max_size = 1024*1024*10; //10MB
            function check_extension(file_name, file_size){
                if(file_size >= max_size){
                    alert("사이즈가 큽니다.");
                    return false;
                }
                if(regex.test(file_name)){
                    alert("업로드가 제한된 확장자 입니다.");
                    return false;
                }
                return true;
            }

            $(".custom-file-input").on("change", function() {
                var file_name = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(file_name);
                var form_data = new FormData();
                var input_file = $(this);
                var files = input_file[0].files;
                var appended = false;
                for (var i = 0; i < files.length; i++) {
                    if(!check_extension(files[i].name, files[i].size) ){
                        return false;
                    }
                    console.log(files[i]);
                    form_data.append("upload_files", files[i]);
                    appended = true;
                }

                //upload를 하지 않는다.
                if (!appended) {
                    return;
                }
                for (var value of form_data.values()) {
                    console.log(value);
                }
                //실제 업로드 부분
                //upload ajax
                $.ajax({
                    url: '/upload_ajax',
                    processData: false,
                    contentType: false,
                    data: form_data,
                    type: 'POST',
                    dataType:'json',
                    success: function(result){
                        console.log(result);
                        show_result(result);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                    }
                }); //$.ajax
            }); //end change event

            function show_result(upload_result_arr){               
                var image_space = $(".image_space ul");
                var str ="";
                $(upload_result_arr).each(function(i, obj) {
                    str += "<li data-name='" + obj.file_name + "' data-path='"+obj.folder_path+"' data-uuid='"+obj.uuid+"'>";
                    str + " <div>";
                    str += "<button type='button' data-file=\'" + obj.image_url + "\' "
                    str += "class='btn-warning btn-sm'>X</button><br>";
                    str += "<img id='li_img_size' src='/display?file_name=" + obj.thumbnail_url + "'>";
                    str += "</div>";
                    str + "</li>";
                });
                image_space.append(str);
                console.log($("li").length);
            }

            $(".image_space ").on("click", "li button", function(e){
                console.log("delete file");
                var target_file = $(this).data("file");
                var target_li = $(this).closest("li");
                $.ajax({
                    url: '/remove_file',
                    data: {file_name: target_file},
                    dataType:'text',
                    type: 'POST',
                    success: function(result){
                        alert(result);
                        target_li.remove();
                    }
                }); //$.ajax
                file_upload.val("");
                label.empty();
            });
        });
        function reset(){
            document.getElementById("form").reset();
        }
    </script>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <div class="container">
    <div class="row main_page">
        <div class="col-3">                
            <div class="row banner">
                <!-- 라면 리뷰 배너 시작 -->
                <div class="banner_review">
                    <div class="col-12 bordered">
                        <div class="banner_main">
                            <a href="#" class="banner_main_font">New Review</a>
                        </div>
                        <div class="row banner_sub">
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main">
                                            <a href="#" class="banner_sub_review_main_title">[짜파게티]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">일요일은 내가 요리사!</a><br/>
                                            <p class="banner_sub_review_main_date">15분 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main">
                                            <a href="#" class="banner_sub_review_main_title">[너구리]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">오동통한 면발 너구리..</a><br/>
                                            <p class="banner_sub_review_main_date">1시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main">
                                            <a href="#" class="banner_sub_review_main_title">[스파게티]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">최고의 가설비 인정</a><br/>
                                            <p class="banner_sub_review_main_date">3시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main">
                                            <a href="#" class="banner_sub_review_main_title">[진라면]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">역시 매운맛이 진리다</a><br/>
                                            <p class="banner_sub_review_main_date">4시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main">
                                            <a href="#" class="banner_sub_review_main_title">[신라면]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">농심을 먹여살림</a><br/>
                                            <p class="banner_sub_review_main_date">6시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="banner_sub_review_img_final">
                                            <a href="#">img</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="banner_sub_review_main_final">
                                            <a href="#" class="banner_sub_review_main_title">[안성탕면]</a><br/>
                                            <a href="#" class="banner_sub_review_main_content">우리 아빠가 좋아하는 맛</a><br/>
                                            <p class="banner_sub_review_main_date">10시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 라면 리뷰 배너 끝 -->
                <!-- 커뮤니티 배너 시작-->
                <div class="banner_community">
                    <div class="col-12 bordered">
                        <div class="banner_main">
                            <a href="#" class="banner_main_font">Community</a>
                        </div>
                        <div class="row banner_sub">
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_community">
                                            <a href="#" class="banner_sub_community_main_title">라면에 대한 진실..</a>
                                            <p class="banner_sub_community_main_date">30분 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_community">
                                            <a href="#" class="banner_sub_community_main_title">매운라면 잘 먹는 법</a>
                                            <p class="banner_sub_community_main_date">45분 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_community">
                                            <a href="#" class="banner_sub_community_main_title">짜파게티에 관한 견해</a>
                                            <p class="banner_sub_community_main_date">1시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_community">
                                            <a href="#" class="banner_sub_community_main_title">신라면 개인적인 생각</a>
                                            <p class="banner_sub_community_main_date">2시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row banner_sub_line">
                                    <div class="col-6">
                                        <div class="banner_sub_community">
                                            <a href="#" class="banner_sub_community_main_title">라면과 계란의 조화</a>
                                            <p class="banner_sub_community_main_date">5시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="banner_sub_community_final">
                                            <a href="#" class="banner_sub_community_main_title">라면 공장 방문 후기</a>
                                            <p class="banner_sub_community_main_date">5시간 전</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 커뮤니티 배너 끝 -->
            </div>
        </div>
        
        <div class="col-9">
            <!-- col-9 안의 새로운 row -->
            <form id="form" th:action="@{/members/register}" th:method="post">
                <div class="row">
                    <!-- ramyeon register menu 1 -->
                    <div class="col-12">
                        <div class="row main_ramyeon_register1">
                            <!-- 상품 이미지 -->
                            <div class="col-4">
                                <div class="main_ramyeon_register_menu1">
                                    <div id="image">
                                        <div class="image_space">
                                            <ul>

                                            </ul>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input files" id="fileInput">
                                            <label class="custom-file-label" data-browse="Browse"></label>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <!-- 상품 이미지.END -->
                            <!-- 상품 정보 -->
                            <div class="col-8">
                                <div id="info">
                                        <div class="info_wrap">
                                            <div>
                                                <label class="info_wrap_text1">상품명</label>
                                                <input type="text" name="gname" class="form-control info_from1">
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="info_wrap_text2">브랜드</label>
                                                    <input type="text" name="brand" class="form-control info_from2">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text3">소비자가격</label>
                                                    <input type="text" name="price" class="form-control info_from3">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text4">무게</label>
                                                    <input type="text" name="weight" class="form-control info_from4">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text5">칼로리</label>
                                                    <input type="text" name="calorie" class="form-control info_from5">
                                                </div>
                                            </div>                            
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="info_wrap_text2">분류</label>
                                                    <input type="text" name="category" class="form-control info_from2">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text3">조리방법</label>
                                                    <input type="text" name="cooking" class="form-control info_from3">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text4">소비기한</label>
                                                    <input type="text" name="expiry" class="form-control info_from4">
                                                </div>
                                                <div class="col-3">
                                                    <label class="info_wrap_text5">출시년도</label>
                                                    <input type="text" name="birth" class="form-control info_from5">
                                                </div>
                                            </div>                            
                                        </div>
                                </div>
                            </div>
                            <!-- 상품 정보.END -->
                        </div>
                    </div>
                    <!-- ramyeon register menu 1.END -->
                </div>
                        
                <div class="row">
                    <!-- ramyeon register menu 2 -->
                    <div class="col-12">
                        <div class="row main_ramyeon_register2">
                            <div class="col-6">
                                <div class="chart_wrap">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6 nutrition_wrap_menu4">
                                                    <div class="nutrition_wrap_menu4_1">
                                                        <label class="info_wrap_text1">맵기</label>
                                                        <input type="text" name="spicy" class="form-control info_from11">
                                                    </div>
                                                    <div class="nutrition_wrap_menu4_2">
                                                        <label class="info_wrap_text1">면굵기</label>
                                                        <input type="text" name="noodle_size" class="form-control info_from11">
                                                    </div>
                                                </div>
                                                <div class="col-6 nutrition_wrap_menu5">
                                                    <div class="nutrition_wrap_menu5_1">
                                                        <label class="info_wrap_text1">별첨스프구성</label>
                                                        <input type="text" name="soupnum" class="form-control info_from11">
                                                    </div>
                                                    <div class="nutrition_wrap_menu5_2">
                                                        <label class="info_wrap_text1">조리시간</label>
                                                        <input type="text" name="cooktime" class="form-control info_from11">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="nutrition_wrap">                                
                                    <div class="row nutrition_wrap_menu1">
                                        <div class="col-3">
                                            <label class="info_wrap_text2">나트륨</label>
                                            <input type="text" name="sodum" class="form-control info_from7">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text3">탄수화물</label>
                                            <input type="text" name="carbohydrate" class="form-control info_from8">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text4">단백질</label>
                                            <input type="text" name="protein" class="form-control info_from9">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text6">당류</label>
                                            <input type="text" name="sugar" class="form-control info_from10">
                                        </div>
                                    </div>                            
                                    <div class="row nutrition_wrap_menu2">
                                        <div class="col-3">
                                            <label class="info_wrap_text2">지방</label>
                                            <input type="text" name="fat" class="form-control info_from7">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text3">포화지방</label>
                                            <input type="text" name="saturated_fat" class="form-control info_from8">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text4">트랜스지방</label>
                                            <input type="text" name="trans_fat" class="form-control info_from9">
                                        </div>
                                        <div class="col-3">
                                            <label class="info_wrap_text6">콜레스테롤</label>
                                            <input type="text" name="cholesterol" class="form-control info_from10">
                                        </div>
                                    </div> 
                                    <div class="row nutrition_wrap_menu3">
                                        <div class="col-12">
                                            <label class="info_wrap_text1">기타성분</label>
                                            <input type="text" name="etc" class="form-control info_from1">
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ramyeon register menu 2.END -->
                </div>
        
                <div class="row">
                    <!-- ramyeon register menu 3 -->
                    <div class="col-12">
                        <div class="row main_ramyeon_register3">
                            <div>
                                <label class="content_box_font">Content</label>
                                <textarea name="content" class="form-control main_ramyeon_register3_content" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- ramyeon register menu 3.END -->
                </div>
            </form>
            <div class="row">
                <!-- ramyeon register menu 3 btn -->
                <div class="col-12">
                    <div>
                        <div class="row main_ramyeon_register_btn">
                            <button type="submit" class="btn btn-primary main_ramyeon_register_btn1">Submit</button>
                            <button onclick="reset()" class="btn btn-dark main_ramyeon_register_btn2">Reset</button>
                            <button onclick="history.back()" class="btn btn-outline-secondary main_ramyeon_register_btn3">Back</button>
                        </div>
                    </div>
                </div>                
                <!-- ramyeon register menu 3 btn.END -->
            </div>
        </div>    
    </div>
    <div class="empty">

    </div>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>