<footer xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul>
                    <li style="font-size: 20px;">Sudamyeon Co.</li>
                    <li>대표 : 국윤재, 사업자 등록번호 : 311-10-28492(서울특별시 관악구 청룡동 862-1, 14층)</li>
                    <li>인터넷신문사업 등록번호 : 서울 가02493 / 등록일자 : 2023년 9월 22일</li>
                    <li>제호 : 수다면 (Sudamyeon) / 발행인 : 한정호 / 편집인 : 임정기, 임형진 / 발행일자 : 2023년 9월 23일</li>
                    <li>통신판매업 신고 2023-서울강남-0332 ※ 청소년보호책임 및 개인정보 관리 책임자 : 국윤재 (sudamyeon@sudamyeon.com)</li>
                    <li>벌행소 : 서울시 강남구 새마을로 20-1, 5층 고객센터 : 02) 887-3324 / sudamyeon@sudamyeon.com 호스팅사업자 : 구글 비즈니스 플랫</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>공지사항</li>
                    <li>이용문의</li>
                    <li>광고 상품 안내</li>
                    <li>사업자 등록</li>
                    <li>커뮤니티</li>
                    <li>F&A</li>
                    <li>이용약관</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>SNS</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <div style="text-align: center; padding-top: 20px;">
            <p>
                @2023 sudamyeon.com All Rights Reserved
            </p>
        </div>
    </div>
</footer>
