a {
    text-decoration-line: none !important;
    color: #000;
}
.bordered {
    border: 1px solid #000;
    padding: 10px;
}
.bordered1 {
    border: 1px solid #000;
    padding: 10px 10px 0px 10px;
}
/* main_page */
.main_page {
    margin: 25px 0px 25px 0px;
}
/* banner */
.banner {
    width: 180px;
    height: 100%;
    margin-left: 25px;
}
.banner2 {
    width: 180px;
    height: 100%;
    margin-left: 88px;
}
/* banner_main */
.banner_main {
    text-align: center;
    margin: -2px 0px 0px 0px;
    padding-bottom: 7px;
}
.banner_review {
    margin-left: 13px;
    margin-top: 0px;
    position: absolute;
}
.banner_community {
    margin-left: 13px;
    margin-top: 570px;
    position: absolute;
}
.banner_brand {
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
/* banner_sub */
.banner_sub {
    width: 180px;
    height: 100%;
    margin-left: -6px;
}
.banner_sub_line1 {
    width: 160px;
    height: 100px;
    border-top: 0.5px dashed #999;
    margin-left: -10px;
    padding-top: 15px;
}
.banner_sub_line3 {
    width: 160px;
    height: 80px;
    border-top: 0.5px dashed #999;
    margin-left: -10px;
    padding-top: 12px;
}
.banner_sub_review_img {
    width: 71px;
    height: 62px;
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-left: -11px;
    margin-top: 5px;
}
.banner_sub_review_img a img {
    width: 65px;
    height: 100%;
    margin-left: 2px;
}
.banner_sub_review_main {    
    margin-top: -7px;
    margin-left: -4px;
}
.banner_sub_review_main a {
    display: inline-block;
    font-size: 10px;
    line-height: -5px;
}
.data-wrapper1 {
    position: relative;
    top: 1px;
}
.data-wrapper2 {
    width: 65px;
    height: 30px;
    margin-top: 3px;    
}
.data-wrapper4 {
    width: 65px;
    font-size: 10px;
    margin-top: 3px;
}
.banner_sub_review_img_final {
    width: 70px;
    height: 62px;
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-left: -10px;
    margin-left: -5px;
}
/* community */
.banner_sub_community {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: -2px;
}
.banner_sub_community_main_date {
    margin-top: 2px;
    margin-bottom: 5px;
}
.banner_sub_community_final {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
/* banner news */
.banner_sub_news {
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 60px;
    font-size: 12px;
    margin-top: 2px;
    margin-left: -14px;    
}
.banner_sub_news_main_icon {
    font-size: 22px;
    margin-top: 4px;    
}
.banner_sub_news_main_icon a i {
    margin-right: 2px;
}
/* ramyeon review main */
.ramyeon_review_main {
    width: 615px;
    height: 100%
}
/* img */
.laurel_img {
    width: 30px;
    height: 100%;
    margin-top: 7px;
    margin-left: -148px;
}
/* laurel img num */
.laurel_img_num {
    font-size: 14px;
    margin-top: -30px;
    margin-left: -148px;
}
/* ramyeon review main column1 */
.ramyeon_review_main_column1 {
    width: 615px;
    height: 470px;
    border: 1px solid #000;
    margin-left: -2px;
    margin-bottom: 30px;
}
.ramyeon_review_main_column1_title {
    width: 595px;
    height: 35px;
    text-align: center;
    background-color: #ff622a;
    margin-top: 10px;
    margin-left: -6px;
}
.ramyeon_review_main_column1_title_font {
    font-size: 15px;
    padding-top: 7px;
}
/* ramyeon review main column2 */
.ramyeon_review_main_column2 {
    width: 615px;
    height: 435px;
    border: 1px solid #000;
    margin-left: -2px;
    margin-bottom: 30px;
}
.ramyeon_review_main_column2_title {
    width: 595px;
    height: 35px;
    text-align: center;
    background-color: #ff622a;
    margin-top: 10px;
    margin-left: -6px;
}
.ramyeon_review_main_column2_title_font {
    font-size: 15px;
    padding-top: 7px;
}
/* ramyeon review main column3 */
.ramyeon_review_main_column3 {
    width: 615px;
    height: 450px;
    border: 1px solid #000;
    margin-left: -2px;
}
.ramyeon_review_main_column3_title {
    width: 595px;
    height: 35px;
    text-align: center;
    background-color: #ff622a;
    margin-top: 10px;
    margin-left: -6px;
}
.ramyeon_review_main_column3_title_font {
    font-size: 15px;
    padding-top: 7px;
}
/* ramyeon review main column1 best review */
.ramyeon_review_main_column1_best_review {
    width: 595px;
    height: 406px;
    background-color: #ddd;    
    margin-top: 9px;
    margin-left: -5px;
}
.ramyeon_review_main_column1_best_review_column1 {
    width: 595px;
    height: 400px;
    margin: 7px 0px 5px -10px;    
}
/* ramyeon review main column1 best review column1 */
.ramyeon_review_main_column1_best_review_column1_first {
    width: 188px;
    height: 125px;
    background-color: #fff;
    margin-left: 3px;
    margin-right: 5px;
    text-align: center;    
}
.ramyeon_review_main_column1_best_review_column1_first a img {
    width: 100px;
    height: 100px;    
    margin-top: -29px;    
}
/* ramyeon review main column2 Hot Topic */
.ramyeon_review_main_column2_hot_topic {
    width: 595px;
    height: 370px;
    margin-top: 0px;
    margin-left: -5px;
}
.ramyeon_review_main_column2_hot_topic_column1 {
    width: 563px;
    height: 190px;
    border-bottom: 1px dashed #aaa;
}
.ramyeon_review_main_column2_hot_topic_column1_list {
    width: 563px;
    height: 187.5px;
    margin-top: 5px;
}
.ramyeon_review_main_column2_hot_topic_column1 a img {
    width: 120px;
    height: 120px;
    margin-top: 32px;
    margin-left: 25px;
}
.ramyeon_review_main_column2_hot_topic_column1_title {
    width: 35px;
    height: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 22px;
    margin-left: 6px;
    text-align: center;
}
.ramyeon_review_main_column2_hot_topic_column1_title_font {
    font-size: 14px;
    margin-top: 1px;  
}
.ramyeon_review_main_column2_hot_topic_column1_content {
    width: 360px;
    height: 140px;
    margin-top: 25px;
    margin-left: 6px;    
}
.ramyeon_review_main_column2_hot_topic_column1_content_font1,
.ramyeon_review_main_column2_hot_topic_column1_content_font2,
.ramyeon_review_main_column2_hot_topic_column1_content_font3 {
    font-size: 14px;
    margin-bottom: 7px;
}
/* ramyeon review main column3 New Ramyeon */
.ramyeon_review_main_column3_new_ramyeon {
    width: 595px;
    height: 370px;
    margin-top: 0px;
    margin-left: -5px;
}
.ramyeon_review_main_column3_new_ramyeon_column1 {
    width: 563px;
    height: 196px;
    border-bottom: 1px dashed #aaa;
}
.ramyeon_review_main_column3_new_ramyeon_column1_list {
    width: 563px;
    height: 187.5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.ramyeon_review_main_column3_new_ramyeon_column1 a img {
    width: 120px;
    height: 120px;
    margin-top: 32px;
    margin-left: 25px;
}
.ramyeon_review_main_column3_new_ramyeon_column1_title {
    width: 40px;
    height: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 22px;
    margin-left: 6px;
    text-align: center;
}
.ramyeon_review_main_column3_new_ramyeon_column1_title_font {
    font-size: 14px;
    margin-top: 1px;  
}
.ramyeon_review_main_column3_new_ramyeon_column1_content {
    width: 360px;
    height: 140px;
    margin-top: 20px;
    margin-left: 6px;    
}
.ramyeon_review_main_column3_new_ramyeon_column1_content_font1,
.ramyeon_review_main_column3_new_ramyeon_column1_content_font2,
.ramyeon_review_main_column3_new_ramyeon_column1_content_font3 {
    font-size: 14px;
    margin-bottom: 7px;
}
.card-title {
    font-size: 13px;   
    margin-top: -24px;
    margin-left: -19px;
    margin-bottom: 8px;        
}
.card-title-review-box {        
    width: 420px;
    height: 25px;
} 