a {
    text-decoration-line: none !important;
    color: #000;
}
.bordered {
    border: 1px solid #000;
    padding: 10px;
}
/* main_page */
.main_page {
    margin: 25px 0px 25px 0px;
}
/* banner */
.banner {
    width: 180px;
    height: 100%;
    margin-left: 25px;
}
.banner2 {
    width: 180px;
    height: 100%;
    margin-left: 88px;
}
/* banner_main */
.banner_main {
    text-align: center;
    border-bottom: 0.5px dashed #999;
    margin: -2px 0px 10px 0px;
    padding-bottom: 7px;
}
.banner_review {
    margin-left: 13px;
    margin-top: 0px;
    position: absolute;
}
.banner_community {
    margin-left: 13px;
    margin-top: 570px;
    position: absolute;
}
.banner_news {
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
/* banner_sub */
.banner_sub {
    width: 180px;
    height: 100%;
    margin-left: -6px;
}
.banner_sub_line {
    width: 160px;
    border-bottom: 0.5px dashed #999;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
}
.banner_sub_review_img {
    width: 70px;
    height: 62px;
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-left: -10px;
}
.banner_sub_review_main {
    margin-top: -7px;
}
.banner_sub_review_main a {
    display: inline-block;
    font-size: 10px;
    line-height: -5px;
}
.banner_sub_review_main p {
    font-size: 10px;
    margin-top: -2px;
    margin-bottom: -0px;
}
.banner_sub_review_main_content {
    letter-spacing: -0.5px;
}
.banner_sub_review_img_final {
    width: 70px;
    height: 62px;
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-left: -10px;
    margin-left: -5px;
}
.banner_sub_review_main_final {
    margin-top: -7px;
    margin-left: -6.5px;
}
.banner_sub_review_main_final a {
    display: inline-block;
    font-size: 10px;
    line-height: -5px;
}
.banner_sub_review_main_final p {
    font-size: 10px;
    margin-top: -2px;
    margin-bottom: -0px;
}
/* community */
.banner_sub_community {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: -2px;
}
.banner_sub_community_main_date {
    margin-top: 2px;
    margin-bottom: 5px;
}
.banner_sub_community_final {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
/* banner news */
.banner_sub_news {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: -2px;
}
.banner_sub_news_main_date {
    margin-top: 2px;
    margin-bottom: 5px;
}
.banner_sub_news_final {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
/* sudamyeon community */
.sudamyeon_community {
    width: 615px;
    height: 100%;
}